.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

mat-card {
    width: 400px;
    padding: 20px;
}

.full-width {
    width: 100%;
    margin-bottom: 10px;
}

.file-input-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
