.create-region-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

mat-card {
    width: 100%;
    max-width: 500px;
}

.full-width {
    width: 100%;
    margin-bottom: 1rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}